LicencePlateRecondition.json
[{"id":"43897512.72d16c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9a413c4.86be2","type":"exec","z":"43897512.72d16c","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=sk_8dac2edcc745553d29b18b7e&recognize_vehicle=1&country=au&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":690,"y":260,"wires":[["bd121c46.c1c96"],[],[]]},{"id":"4fc75ae2.d91e94","type":"python-function","z":"43897512.72d16c","name":"Take Photo","func":"import time \nimport os\nos.system('fswebcam -d /dev/video1 -r 800x600 /home/pi/Pictures/car-photo.jpeg')\n\n    \nreturn msg","outputs":1,"x":470,"y":340,"wires":[["a9a413c4.86be2"]]},{"id":"bd121c46.c1c96","type":"json","z":"43897512.72d16c","name":"JSON","pretty":false,"x":841.5,"y":415.5,"wires":[["91318631.0e5888","c57ef35f.afbbc"]]},{"id":"91318631.0e5888","type":"function","z":"43897512.72d16c","name":"Identify Car","func":"var carPlate = \"LAX06\";\nvar carModel = \"YOUR_CAR_MODEL\";\n\n//No car or car plate found in photo\nif(msg.payload.results.length === 0) {\n    msg.payload=0;\n    global.set(\"garageOpen\",\"0\");  \n}\n//If car plate and car model match\nelse if(msg.payload.results[0].plate==carPlate) {\n    msg.payload=1;\n    global.set(\"garageOpen\",\"1\");  \n}\n//If car plate and car model don't match\nelse {\n    msg.payload=0;   \n    global.set(\"garageOpen\",\"0\");  \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":251,"y":604.5,"wires":[["c139ff8.df39d"]]},{"id":"c139ff8.df39d","type":"switch","z":"43897512.72d16c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":391.5,"y":603,"wires":[["2b3cada4.f2b692","ce8f88f8.771098"],["ee692ff.0860fd"]]},{"id":"c57ef35f.afbbc","type":"debug","z":"43897512.72d16c","name":"","active":true,"console":"false","complete":"false","x":987,"y":380,"wires":[]},{"id":"f1bb2671.baa188","type":"rpi-gpio in","z":"43897512.72d16c","name":"GPIO26","pin":"37","intype":"tri","debounce":"25","read":false,"x":80,"y":442,"wires":[["9991ac11.78fb"]]},{"id":"60a384a9.6bf42c","type":"switch","z":"43897512.72d16c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":377,"y":442,"wires":[["4fc75ae2.d91e94"],["d32d6b7e.f24098"]]},{"id":"9991ac11.78fb","type":"function","z":"43897512.72d16c","name":"Is Garage Open","func":"var garageOpen = global.get(\"garageOpen\"); \n\nif(garageOpen == \"1\"){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":360,"wires":[["60a384a9.6bf42c"]]},{"id":"2b3cada4.f2b692","type":"rpi-gpio out","z":"43897512.72d16c","name":"GPIO17","pin":"11","set":true,"level":"0","freq":"","out":"out","x":878.5,"y":552,"wires":[]},{"id":"ce8f88f8.771098","type":"delay","z":"43897512.72d16c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":569,"y":611,"wires":[["a2c0628f.43aa1"]]},{"id":"a2c0628f.43aa1","type":"function","z":"43897512.72d16c","name":"Close Garage","func":"msg.payload=0;   \nglobal.set(\"garageOpen\",\"0\"); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":729,"y":611,"wires":[["2b3cada4.f2b692"]]},{"id":"d32d6b7e.f24098","type":"debug","z":"43897512.72d16c","name":"","active":true,"console":"false","complete":"false","x":517,"y":449,"wires":[]},{"id":"ee692ff.0860fd","type":"debug","z":"43897512.72d16c","name":"","active":true,"console":"false","complete":"false","x":566,"y":668,"wires":[]}]